name: Tests (Ubuntu packages)

on:
  push:
    branches:
      - "master"
  pull_request:
    branches:
      - "master"

jobs:
  test:
    strategy:
      matrix:
        os: ["ubuntu-24.04", "ubuntu-22.04"]

    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: 'true'
      - name: Set up Python
        run: sudo apt-get install python3
      - name: Install requirements
        run: sudo apt-get install python3-redis python3-hiredis python3-requests python3-zmq
      - name: Install requirements for testing
        run: sudo apt-get install python3-mockito
      - name: Create symlinks for testing
        run: |
          ln -s tests/_minqlx.py
          ln -s tests/minqlx_plugin_test
          ln -s tests/minqlx-repo/python/minqlx
      - name: Run tests
        run: python3 -m unittest tests
